.styleOverParent {
    position: relative;
}
.styleOver {
    position: absolute;
    z-index: -1;
}
#styleDetail  {
    width:  599px;
    /* height: 48px; */
    margin-top: 53px;
    margin-bottom: 53px;
    /* FONT */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    text-align: justify;
    color: #000000;
}
#styleShaodeTitle  {
    width: 620px;
    /*height: 90px;*/
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 200%;
    text-align: center;
    color: #000000;
    text-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
}
#styleSlogan {
    vertical-align: center;
    margin: 10px;
    text-align: center;
}
#styleCenter {
    text-align: center;
    margin-left: 30%;
    margin-right: 40%;
}
#styleButton {
    position: relative;
    width: 269px;
    height: 90px;
    text-align: center;
    margin-top: 5px;
}
#styleBText {
    position: absolute;
    left: 23%;
    /* right: 19.33%; */
    top: 0%;
    bottom: 0%;
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 200%;
    text-align: justify;
    color: #000000;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
#styleBImage {
    position: absolute;
    box-sizing: border-box;
    left: 0%;
    right: 0%;
    top: 8.89%;
    bottom: 0%;
    background: rgba(235, 210, 182, 0.72);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.block_container {
    position: relative;
    background-color: white;
    /*max-width: 718px;*/
    height: 623px;
    margin: 0px;
    border-radius: 20px;
}
.over_image {
    position: absolute;
    top: 1px;
    left: 92px;
}
.c_container {
    position: absolute;
    top: 550px;
    width: 701px;
    background-color: white;
    opacity: 0.5;
  
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 200%;
    /* identical to box height, or 50px */
    text-align: center;
    color: #000000;
}

@media (max-width: 400px){
    .over_image {
        position: absolute;
        top: 0px;
        left: 52px;
    }
    #styleShaodeTitle  {
        width: 340px;
    /*    height: 90px; */
        font-size: 32px;
    }
    #styleDetail  {
        width:  340px;
        margin-top: 20px;
        margin-bottom: 20px;
    /*    height: 48px; */
    }
    .block_container {
        width: 340px;
        height: 300px;
        margin-left: 20px;
    }
    .c_container {
        top: 250px;
        width: 330px;
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 5px;
        font-size: 15px;
        text-align: center;
    }
    #styleButton {
        width: 162px;
        height: 54px;
    }
    #styleBText {
        font-size: 27px;
        line-height: 200%;
        text-align: center;
        color: #000000;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    }
    #styleDetail  {
        width:  360px;
        font-size: 16px;
        text-align: center;
    }
    #styleShaodeTitle  {
        width: 360px;
        font-size: 27px;
        text-align: center;
    }
    #styleSlogan {
        vertical-align: center;
        margin: 10px;
        text-align: center;
    }
}
