#styleFootList a:link {
    color: white;
    text-decoration: none
}
#styleFootList a:visited {
    color: white;
    text-decoration: none
}
#styleFootList a:hover {
    color: white;
    text-decoration: none
}
#styleFootList a:active {
    color: white;
    text-decoration: none
}
.styleFooter {
    background: #DFBD9C;
    width: 100%;
    height: 236px;
    bottom: 0px;
}

#styleFootIcon {
    position: absolute;
    margin-top: 60px;
    margin-left: 65px;        
}

#styleFootList {
    position: absolute;
    margin-left: 300px;
    margin-top: 46px;
    font-family: ABeeZee;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.foottext {
    margin-bottom: 12px;
}
@media (max-width: 600px){
    #styleFootIcon {
        margin-left: 30px;        
    }
    
    #styleFootList {
        margin-left: 200px;
    }
}

@media (max-width: 400px){
    .foottext {
        margin-bottom: 2px;
    }
    .styleFooter {
        height: 140px;
    }
    #styleFootIcon {
        width: 130px;
        height: 120px;
        margin-top: 20px;
        margin-left: 10px;        
    }
    #styleFootList {
        margin-left: 200px;
    }
    #styleFootList {
        margin-left: 160px;
        margin-top: 6px;
        font-size: 16px;
    }
}
