.header {
    background-image: url("/images/tile.svg");
    background-repeat: no-repeat;
    background-size: 100%, 100px;
    width: 100%;
    height: 70px;
    position: relative;
}
#logo {
    position: absolute;
    width: 200px;
    height: 45px;
    top: 10px;
    left: 15px;
}
/*
#headtext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 240px;
}
*/
.headText {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 200%;
    text-align: justify;
    color: #000000;
}
#textCol {
    position: absolute;
    top: 9px;
    margin-left: 220px;
}
#textFAQ {
    position: absolute;
    top: 9px;
    margin-left: 330px;
}
/*
#styleCollection {
    margin-left: 100px;
}

#styleFAQ {
    margin-left: 200px;
    color: red;
}
*/
#iconTwitter {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 110px; /*160px;*/
}

#iconFB {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 60px; /*110px;*/
}

#iconDC {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 10px; /*60px;*/
}

#iconProfile {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    right: 10px;
}

@media (max-width: 700px){
    .header {
        height: 60px;
    }
    #logo {
        width: 160px;
        height: 36px;
    }
    #textCol {
        position: absolute;
        top: 7px;
        margin-left: 185px;
    }
    #textFAQ {
        position: absolute;
        top: 7px;
        margin-left: 300px;
    } 
    #styleCollection {
        left: 90px;
    }
    #styleFAQ {
        left: 180px;
    }
    #iconTwitter {
        right: 90px; /*130px;*/
    }
    #iconFB {
        right: 50px; /*90px;*/
    }
    #iconDC {
        right: 10px; /*50px;*/
    }
    #iconProfile {
        right: 10px;
    }
}

@media (max-width: 400px){
    .header {
        height: 50px;
    }
    #logo {
        left: 5px;
        top: 15px;
        width: 100px;
        height: 24px;
    }
    .headText {
        font-size: 16px;
        line-height: 200%;
    }
    #textCol {
        position: absolute;
        top: 9px;
        margin-left: 110px;
    }
    #textFAQ {
        position: absolute;
        top: 9px;
        margin-left: 185px;
    }
    #styleCollection {
        margin-left: 80px;
    }
    #styleFAQ {
        margin-left: 160px;
    }
    #iconTwitter {
        right: 70px; /*100px;*/
    }
    #iconFB {
        right: 40px; /*70px;*/
    }
    #iconDC {
        right: 10px; /*40px;*/
    }
    #iconProfile {
        right: 10px;
    }
}
