.stylePartner {
    height: 132px;
    background: linear-gradient(102.98deg, #D3D4D5 5.39%, rgba(224, 171, 122, 0.291667) 40.84%, rgba(224, 171, 122, 0.291667) 65.09%);
    font-family: ABeeZee;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000000;
    position: relative;
}

.partnerText {
    position: absolute;
    padding-left: 80px;
    padding-top: 50px;
}

.iconNewave {
    position: absolute;
    padding-left: 300px;
    padding-top: 40px;
}

.iconSecondLive {
    position: absolute;
    padding-left: 300px; /*600px;*/
    padding-top: 40px;
}

.iconSNK {
    position: absolute;
    padding-left: 600px; /*900px;*/
    padding-top: 10px;
}
.iconQueen {
    position: absolute;
    padding-left: 900px;
    padding-top: 15px;
}

@media (max-width: 1200px){
    .iconNewave {
        padding-left: 250px;
    }
    .iconSecondLive {
        padding-left: 250px; /*500px;*/
    }
    .iconSNK {
        padding-left: 500px; /*750px;*/
    }
    .iconQueen {
        padding-left: 750px;
    }
}

@media (max-width: 1000px){
    .partnerText {
        padding-left: 50px;
    }
    .iconNewave {
        padding-left: 210px;
    }
    .iconSecondLive {
        padding-left: 210px; /*420px;*/
    }
    .iconSNK {
        padding-left: 420px; /*630px;*/
    }
    .iconQueen {
        padding-left: 630px;
    }
}

@media (max-width: 800px){
    .partnerText {
        padding-left: 50px;
    }
    .iconNewave {
        height: 48px;
        padding-top: 10px;
    }
    .iconSecondLive {
        height: 48px;
        padding-top: 10px;
        /*padding-left: 420px;*/
    }
    .iconSNK {
        padding-top: 35px; /*35px;*/
        padding-left: 185px; /*185px;*/
    }
    .iconQueen {
        padding-top: 10px;
        padding-left: 420px;
    }
}

@media (max-width: 400px){
    .stylePartner {
        font-size: 30px;
        height: 220px;
    }
    .partnerText {
        padding-top: 16px;
        padding-left: 10px;
    }
    .iconNewave {
        width: 160px;
        height: 48px;
        padding-top: 10px;
        padding-left: 160px;
    }
    .iconSecondLive {
        width: 160px;
        height: 48px;
        padding-top: 10px; /*60px;*/
        padding-left: 160px;
    }
    .iconSNK {
        padding-top: 25px; /*68px;*/
        padding-left: 135px;
    }
    .iconQueen {
        padding-top: 120px; /*35px;*/
        padding-left: 135px;
    }
}
