.styleOverParent {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 38%;
    margin-bottom: 10px;
}
.styleOver {
    position: absolute;
}

.fontBullet {
    position: absolute;
    width: 40px;
    height: 40px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 4px;
}

.cc_container {
    column-count: 1;
    column-gap: 20px; 
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}


.step_title {
    margin-top: 10px;
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(224, 171, 122, 0.93);
    text-shadow: 1px 1px #444;
}

.step_detail {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;

    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    text-align: center;
    color: #000000;
}

.step_box {
    border: 1px solid rgba(224, 171, 122, 0.93);
    border-radius: 4px;
    margin: 10px;
}

.step_group {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: space-evenly;
    margin: 20px;
}

.mint_box {    
    /*border: 1px solid rgba(224, 171, 122, 0.93); */
    width: 150px;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    margin: 5px;
}

.mint_group {
    display: grid;
    grid-template-columns: auto auto;
    /*background-color: #2196F3;*/
    padding: 10px;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}

@media (min-width: 600px){
    .step_group {
        grid-template-columns: auto auto;
    }
    .mint_group {
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media (min-width: 1000px){
    .step_group {
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 400px){
    .cc_container {
        margin-top: 10px;
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }
    .styleOverParent {
        position: relative;
        width: 30px;
        height: 30px;
    }
    .mint_box {    
        width: 160px;
    }
    .fontBullet {
        width: 30px;
        height: 30px;
        padding-top: 0px;
    }
}

@media (min-width: 800px){
    .cc_container {
        column-count: 2;
        column-gap: 40px;
    }
}

