.styleOverParent {
    position: relative;
}
.textOverImage {
    position: absolute;
    top: 45%;
    left: 33%;
    text-align: center;
    /* Font */
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}
.project_box {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    width: 300px;
    height: 200px;
    text-align: center;
}
.IntroBox {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-evenly;
    position: relative;
    /* width: 750px; */
    margin-top: 100px;
    margin-bottom: 100px;
}
.RoundBox {
    position: relative;
    /*top: 0px;
    left: 50px; */
    width: 750px;
    height: 530px;
    background: #FFFFFF;
    box-shadow: 0px 10px 4px rgba(224, 171, 122, 0.93);
    border-radius: 173px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    /*text-align: center; */
}
#AvailableBox {
    position: relative;
    width: 880px;
    height: 880px;
    left: 300px;
}
#Char1 {
    position: absolute;
}
#Char2 {
    position: absolute;
    top: 38px;
    left: 416px;
}
#char_subtitle {
    position: absolute;
    left: 315px;
    top: 398px;
    /*width: 214px;
    height: 16px;*/
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
#char_title {
    position: absolute;
    left: 215px;
    top: 412px;
    /*width: 431px;
    height: 87px;*/
    /* FONT */
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(224, 171, 122, 0.93);
}
#char_detail {
    position: absolute;
    left: 106px;
    top: 522px;
    width: 681px;
    height: 114px;
    /* FONT */
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
}
.Intro {
    /*position: absolute;
    top: 10px;
    left: 850px; */
    width: 536px;
    height: 480px;
    background: #FFFFFF;
    opacity: 50%;
    box-shadow: 0px 10px 4px rgba(224, 171, 122, 0.93);
    padding: 30px;
}
.Title {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 173%;
    text-align: center;
    color: #FFFFFF;
}
.Title2 {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 72px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(224, 171, 122, 0.93);
}
.SubTitle {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
}
.SubTitle2 {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    text-transform: uppercase;
    color: #000000;
}
.Title3 {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 173%;
    text-align: center;
    color: #FFFFFF;
}
.Name {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 87px;
    text-transform: uppercase;
    color: rgba(224, 171, 122, 0.93);
}
.Detail {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    text-align: justify;
    color: #000000;
}
.Detail2 {
    margin-left: 10px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 173%;
    text-align: justify;
    color: #C47228;
}

.Person {
    position: absolute;
    top: 40px;
    left: 160px;
}

#idol {
    width: 451px;
    height: 451px;
}

.Arrow {
    position: absolute;
}
.item_box {
    background: rgba(224, 171, 122, 0.46);
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}
.item_title {
    font-family: Aoboshi One;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 173%;
    text-align: center;
    color: rgba(224, 171, 122, 0.93);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.item_detail {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
    margin-left: 20px;
}
.item_group {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}
.banner_group {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}
.project_group {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    justify-content: space-evenly;
    margin-left: 80px;
    margin-right: 80px;
}
.project {
    position: relative;
}

.project_text {
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.4);
}

.project_title {
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.project_subtitle {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;
    text-transform: uppercase;

    color: rgba(224, 171, 122, 0.93);
}
.project_detail {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */

    text-align: center;

    color: #FFFFFF;
}
.note_title {
    font-family: 'DIN';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.note_detail {
    width: 165px;
    height: 57px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
#LeftArrow {
    top: 250px;
    left: 64px;
    visibility: hidden;
}
#RightArrow {
    top: 250px;
    left: 663px;
}

@media (max-width: 400px){
    .item_box {
        padding-left: 0px;
        margin: 10px;
        width: 300px;
    }
    .IntroBox {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .RoundBox {
        border: 1px solid rgba(255, 255, 255, 0.3);
        width: 350px;
        height: 250px;
    }
    #idol {
        width: 220px;
        height: 220px;
    }
    .Person {
        width: 230px;
        height: 230px;
        top: 5px;
        left: 60px;
    }
    #LeftArrow {
        top: 110px;
        left: 20px;
    }
    #RightArrow {
        top: 110px;
        left: 300px;
    }
    .Intro {
        width: 300px;
        height: 430px;
        margin-left: 3px;
    }
    #AvailableBox {
        position: relative;
        width: 360px;
        height: 360px;
        left: 0px;
    }
    #char_subtitle {
        left: 100px; /*315px;*/
        top: 150px; /*398px;*/
        font-size: 10px;
    }
    #char_title {
        left: 45px;
        top: 150px;
        font-size: 40px;
    }
    #char_detail {
        left: 10px;
        top: 220px;
        width: 340px;
        height: 114px;
        font-size: 10px;
    }
    .Title {
        font-size: 30px;
    }
    .Title2 {
        font-size: 40px;
    }
    .SubTitle {
        font-size: 12px;
    }
    .Title3 {
        font-size: 50px;
    }
    .Name {
        font-size: 50px;
    }
    #Char1 {
        width: 50%;
    }
    #Char2 {
        position: absolute;
        width: 50%;
        left: 45%;
    }
    .project_group {
        grid-template-columns: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 600px){
    .item_group {
        grid-template-columns: auto auto;
    }
}

@media (min-width: 1200px){
    .IntroBox {
        grid-template-columns: auto auto;
    }
    .item_group {
        grid-template-columns: auto auto auto auto;
    }
}
