.TOUTitle {
    margin-top: 10px;
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(224, 171, 122, 0.93);
    text-shadow: 1px 1px #444;
}

.TOUSubTitle {
    margin-top: 10px;
    font-family: 'Aoboshi One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    color: rgba(224, 171, 122, 0.93);
}

.TOUDetail {
    margin-top: 10px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 50px;
    font-family: 'DIN Alternate';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media (max-width: 600px){
    .TOUDetail {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 400px){
    .TOUTitle {
        font-size: 36px;
    }
    .TOUSubTitle {
        font-size: 32px;
    }
    .TOUDetail {
        margin-left: 30px;
        margin-right: 50px;
        text-align: justify;
    }
}

