html,
body {
  /* background-color: gray; */
  /*background: conic-gradient(from 231.87deg at 75.64% 15.06%, rgba(58, 96, 112, 0) -37.5deg, #DEDEDE 71.25deg, rgba(50, 90, 107, 0.265625) 193.12deg, rgba(58, 96, 112, 0) 322.5deg, #DEDEDE 431.25deg);
  /* filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25)); */
  padding: 0px;
  margin: 0px;
}

sidebar {
    position: absolute;
    top:0;
    height: auto;
    width: 100px;
    color: green;
}
.backcolor {
  position: absolute;
  background-color: rgb(217, 217, 217);
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  /*height: auto; /* 4500px; */
  z-index: -2;
}

.backimage {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  /*height: auto; /* 4500px; */
  z-index: -1;
  /*
  background: conic-gradient(from 231.87deg at 75.64% 15.06%, rgba(58, 96, 112, 0) -37.5deg, #666666 71.25deg, rgba(50, 90, 107, 0.265625) 193.12deg, rgba(58, 96, 112, 0) 322.5deg, #676767 431.25deg);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
  */
  background: conic-gradient(from 231.87deg at 75.64% 15.06%, rgba(58, 96, 112, 0) -37.5deg, #DEDEDE 71.25deg, rgba(50, 90, 107, 0.265625) 193.12deg, rgba(58, 96, 112, 0) 322.5deg, #DEDEDE 431.25deg);
  filter: drop-shadow(0px 6px 4px rgba(0, 0, 0, 0.25));
}

@import url('https://static.figma.com/webfont/1/Inter-Regular.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/Inter-Italic.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/Inter-Medium.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/Inter-MediumItalic.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/Inter-SemiBold.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/Inter-SemiBoldItalic.woff2?v=3.10');
@import url('https://static.figma.com/webfont/1/DSEG7Classic-Italic-Custom2.woff2?v=3.10');
@import url('https://static.figma.com/font/AoboshiOne-Regular_1');

/*
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-Regular.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-Italic.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-Medium.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-MediumItalic.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-SemiBold.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;Inter-SemiBoldItalic.woff2?v=3.10" as="font" crossorigin="anonymous">
<link rel="preload" href="https:&#47;&#47;static.figma.com&#47;webfont&#47;1&#47;DSEG7Classic-Italic-Custom2.woff2" as="font" crossorigin="anonymous">
*/

